#wrapper {
  font-family: Lato;
  font-size: 1.5rem;
  text-align: center;
  box-sizing: border-box;
  color: #333;

  #dialog {
    border: solid 1px #ccc;
    margin: 10px auto;
    padding: 20px 30px;
    display: inline-block;
    box-shadow: 0 0 4px #ccc;
    background-color: #FAF8F8;
    overflow: hidden;
    position: relative;
    max-width: 450px;

    h3 {
      margin: 0 0 10px;
      padding: 0;
      line-height: 1.25;
    }

    span {
      font-size: 90%;
    }

    #form {
      max-width: 240px;
      margin: 25px auto 0;


      button {
        margin:  30px 0 50px;
        width: 100%;
        padding: 6px;
        background-color: #B85FC6;
        border: none;
        text-transform: uppercase;
      }
    }

    button {
      &.close {
        border: solid 2px;
        border-radius: 30px;
        line-height: 19px;
        font-size: 120%;
        width: 22px;
        position: absolute;
        right: 5px;
        top: 5px;
      }
    }

    div {
      position: relative;
      z-index: 1;
    }

    img {
      position: absolute;
      bottom: -70px;
      right: -63px;
    }
  }
}
.footer{
  background-color: #1d2124;
  color: whitesmoke;
}
.w275 col{
  align-content: center;
}

footer{
  background:black;
  padding: 80px;
  color: white;
}
.footer-promotion{
  background: #de6d45;
  color: white;
}



//mat-card styling
.mat-card{
  display: flex;
  justify-content: center;
  flex-direction: row;
  max-width: 1000px;
  max-height: 700px;
  margin: 25px auto 0;
  padding-bottom: 20px;
  box-shadow: #de6d45;
  border-bottom-style: double;

}

//.Reg-button{}

.Reg-button:hover {
  background-color:orangered;
}
.Reg-button{
  background-color: black;
  padding: 10px 210px;
}

.Reg-button1:hover {
  background-color:orangered;
}
.Reg-button1{
  background-color: black;
  padding: 10px 161px;
}


.template{
  background-color: #2e3133;
}
.example-full-width {
  width: 121%;
  padding-left: 60px;
}
.otp{
  padding-left: 130px;
}
