<div>
    <toolbar></toolbar>
</div>

<br><br>
<div id="main-content" class="site-main clearfix" style="">
    <div class="card-pf " style="box-shadow: 0 0 15px rgba(0, 0, 0, 0.1), 0 3px 5px rgba(0, 0, 0, 0.2);">
        <header class="login-pf-header">
            <h1 id="kc-page-title">
                <div style="font-size: 24px; font-weight:bold; padding: 20px 0px 0px 0px;">Welcome to GEPF Self Service.<span
                        style="margin-left: 5px; display:inline-block; width: 50px; height: 3px; background-color: #de6d45;"></span>
                </div>

            </h1>
        </header>
        <div id="kc-content">
            <div id="kc-content-wrapper">
                <div class="row">

                    <div class="col-md-8">
                        <strong><b>You'll be able to do the following:.</b></strong>
                        <br><br>
                        <h6 style="font-weight:700;color:#000000;margin-bottom:10px;">Who can claim?</h6>
                        All benefits are payable to the policy owner:
                        <ul>
                            <li>If the policyholder is the deceased then the benefit is payable to the beneficiary of
                                the death
                                benefit.
                            </li>
                            <li>If there is no beneficiary appointed then the benefit is payable to the nominee for
                                ownership.
                            </li>
                            <li>If there is no beneficiary or nominee then the benefit is payable to the next insured as
                                indicated in
                                the policy contract.
                            </li>
                        </ul>
                        <h6 style="font-weight:700;color:#000000;margin-bottom:10px;">What we will do within 48 hours
                            after
                            receiving the claim?</h6>
                        <ul>
                            <li>Inform the person claiming if we need any other information.</li>
                            <li>Inform the person claiming about our decision to either approve or decline the claim
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-3">

                        <mat-card style="width: 140%;background-color: #F5F2F0  ;">
                            <h6 class="heading clearfix " style="font-weight:700;color:#000000;margin-bottom:10px;">
                                Create your
                                account.<span
                                    style="margin-left: 5px; display:inline-block; width: 50px; height: 3px; background-color: #de6d45;"></span>
                            </h6>

                            <form class="example-form">
                                <mat-form-field class="example-full-width">
                                    <mat-label style="font: bold;font-weight :700;color: black;">ID Number <span
                                            style="color: red;">*</span></mat-label>
                                    <textarea matInput placeholder="SA ID" pattern="[0][0-9]{9}"></textarea>
                                    <span class="material-icons">
                    perm_identity
                  </span>
                                </mat-form-field>

                                <mat-form-field class="example-full-width">
                                    <mat-label style="font: bold;color: black;font-weight :700;">Cell Phone <span
                                            style="color: red;">*</span></mat-label>
                                    <textarea matInput placeholder="(011) 412 2351"></textarea>
                                    <span class="material-icons">
                    phone_in_talk
                  </span>
                                </mat-form-field>

                                <mat-label style="font: bold;color: black;font-weight :700; padding:100pt;">OR
                                </mat-label>

                                <mat-form-field class="example-full-width">
                                    <mat-label style="font: bold;color: black;font-weight :700;">Email Address <span
                                            style="color: red;">*</span></mat-label>
                                    <textarea matInput placeholder="example@example.com"></textarea>
                                    <span class="material-icons">
                    email
                  </span>
                                </mat-form-field>

                                <div class="recaptcha" style="min-width: 150px;
                max-width: 600px;
                width: 100%;
                font-size: 80%;">
                                    <re-captcha (resolved)="resolved($event)"
                                                siteKey="6LeBpqkUAAAAAFlcnXQfGHZTCxAIyuWRdiezoirS">
                                    </re-captcha>
                                </div>
                                <mat-card-actions>
                                    <div fxLayout="row" fxLayoutAlign="center">
                                        <button class="Reg-button" color="primary" mat-raised-button [disabled]="!valid"
                                                (click)="identifyUser()" type="button"

                                        >
                                            <div class="Reg-font"><label>Register</label></div>
                                        </button>
                                    </div>
                                </mat-card-actions>
                            </form>
                        </mat-card>
                        <br>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <br>
    <div class="footer-promotion"
         style="background-image: url(https://www.gepf.gov.za/wp-content/uploads/2019/06/promo-bg.png); background-repeat: no-repeat; background-position: center center; background-size: cover;">
        <div class="finax-container">
            <div class="inner">
                <div class="title-wrap">
                    <div class="text-wrap">
                        <div class="promo-icon"><img
                                src="https://www.gepf.gov.za/wp-content/uploads/2019/07/stop_fraud_helpline.png"
                                alt="Icon"></div>
                        </div>
                </div>

            </div>
        </div>
    </div>
    <footer>
        <div class="row">
            <div class="col-md-3">
                <h3>CLIENT CENTRE</h3>
                <p>GEPF Administration Office<br>
                    Building 2A, Trevenna Campus<br>
                    Corner Meintjies and Francis Baard Street<br>
                    Sunnyside, Pretoria</p>
            </div>
            <div class="col-md-3">
                <h3>BOARD OF TRUSTEES</h3>
                <p>Tel: +27 12 424 7330</p><br>
                <p>For more information,</p><br>
                <a href="https://www.gepf.gov.za/board-of-trustees/">click here</a>

            </div>
            <div class="col-md-3">
                <h3>GEPF CONFERENCE</h3>
            </div>
            <div class="col-md-3">
                <h3>RECENT NEWS </h3>
            </div>
        </div>
    </footer>
